@import 'tailwindcss';

@layer components {
    footer {
        @apply fixed inset-x-0 bottom-0;
        @apply px-2 py-2 min-h-fit max-h-60;
        @apply w-screen;
        @apply bg-gray-100 dark:bg-gray-700;
        @apply rounded-tl-2xl rounded-tr-2xl border-2 border-red-400 dark:border-red-600;
    }

    h1 {
        @apply static text-center text-xl my-1;
        @apply font-bold font-mono text-gray-950 dark:text-white;
    }

    .redes {
        @apply flex justify-center items-center;
        @apply items-center;
    }
    
    .social {
        @apply items-center mx-2 min-h-fit max-h-fit min-w-fit max-w-1/10;
        @apply bg-gray-200 dark:bg-gray-300 rounded-xl border-2 border-gray-300;
        @apply transition-transform duration-300 hover:scale-105;
    }

    .info {
        @apply flex items-center;
    }

    img {
        @apply w-6 h-6;
    }

    span {
        @apply hidden md:inline;
        @apply mx-2 text-lg;
    }
}