<footer>
    <h1>Social Media 👥 </h1>
    <div class="redes">
        <div class="social">
            <a href="https://github.com/444leonn">
                <div class="info">
                    <img src="github-mark.png" />
                    <span>Github</span>
                </div>
            </a>
        </div>

        <div class="social">
            <a href="https://linkedin.com/in/leon-acosta">
                <div class="info"> 
                    <img src="linkedin.png" />
                    <span>LinkedIn</span>
                </div>
            </a>
        </div>
    </div>
</footer>