@import 'tailwindcss';

@layer components {
    nav {
        @apply flex items-center justify-between fixed inset-x-0 top-0;
        @apply px-2 py-2 min-h-fit max-h-60 w-full;
        @apply bg-gray-100 rounded-bl-2xl rounded-br-2xl border-2 border-red-400;
    }

    .pokeball-logo {
        @apply min-h-13 min-w-13 max-h-14 max-w-14;
        @apply transition-transform duration-300 hover:scale-110;
    }

    .search-bar {
        @apply min-w-min w-4xl h-10;
        @apply bg-white rounded-2xl border border-amber-200;
    }

    input {
        @apply min-w-min w-4xl h-10;
        @apply px-4 py-2 text-gray-700;
    }

    button {
        @apply fixed inset-x-0 right-0;
    }
}