@import 'tailwindcss';

@layer components {
    nav {
        @apply flex items-center justify-between;
        @apply fixed inset-x-0 top-0 z-1000;
        @apply px-2 py-2 min-h-fit max-h-60 w-screen;
        @apply bg-gray-100 dark:bg-gray-700;
        @apply rounded-bl-2xl rounded-br-2xl border-2 border-red-400 dark:border-red-600;
    }

    .pokeball-logo {
        @apply flex items-center gap-3;
        @apply transition-transform duration-300 hover:scale-110;
    }
    
    .pokeball-logo img {
        @apply w-12 h-12 object-contain;
    }
    
    h1 {
        @apply text-xl text-left;
        @apply text-red-400 dark:text-red-600;
    }

    .search-bar {
        @apply w-32 md:w-54 lg:w-4xl h-10;
        @apply bg-white dark:bg-gray-800 rounded-2xl border dark:border-red-400 border-red-200;
    }

    input {
        @apply w-32 md:w-54 lg:w-4xl h-10;
        @apply px-4 py-2 dark:text-gray-50 text-gray-700;
    }

    button {
        @apply fixed inset-x-0 right-0;
    }
}