@import 'tailwindcss';

@layer components {
    .grid-container {
        @apply my-20;
        @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5;
        @apply gap-6 p-10;
        @apply justify-items-center;
    }
}
