<div class="carousel">
    <div class="carousel-track">
        <app-pokemon-card name="pikachu" />
        <app-pokemon-card name="bulbasaur" />
        <app-pokemon-card name="charmander" />
        <app-pokemon-card name="eevee" />
        <app-pokemon-card name="ditto" />
        <app-pokemon-card name="totodile" />
        <app-pokemon-card name="tepig" />
        <app-pokemon-card name="snivy" />
        <app-pokemon-card name="cyndaquil" />
        <app-pokemon-card name="mew" />
        <app-pokemon-card name="pikachu" />
        <app-pokemon-card name="bulbasaur" />
        <app-pokemon-card name="charmander" />
        <app-pokemon-card name="eevee" />
        <app-pokemon-card name="ditto" />
        <app-pokemon-card name="totodile" />
        <app-pokemon-card name="tepig" />
        <app-pokemon-card name="snivy" />
        <app-pokemon-card name="cyndaquil" />
        <app-pokemon-card name="mew" />
    </div>
</div>